{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<h1 class="text-small">Capstone Project - Great Learning</h1>

<p>
    The Food 101 Project is an exciting and innovative initiative that focuses on the 
    comprehensive analysis of food items through both classification and object detection. 
    This project encompasses the exploration of 10 distinct food classes, with the goal of 
    enhancing our understanding of these culinary delights.
</p>

<h2>Project Details:</h2>

<p>
    <strong>Classification:</strong> The project involves the creation of robust classification models
     capable of identifying and categorizing food items accurately. These models enable us to
      recognize the dishes from the provided food classes with a high degree of precision.
</p>

<p>
    <strong>Object Detection:</strong> In addition to classification, we delve into the fascinating 
    realm of object detection. Our objective is to develop algorithms and models that can not only 
    classify but also locate and outline the food items within images, providing valuable insights 
    into their spatial distribution.
</p>

<h2>Team:</h2>

<p>
    <strong>Program Mentor:</strong> We are fortunate to have the guidance of an experienced mentor,
    <strong> Mr Shelton</strong>, who brings a wealth of knowledge and expertise in the field of computer vision 
     and machine learning. His innovative style of teaching covering the basic concept but not leaving behind 
     the current market practices helped us gain a lot
</p>

<p>
    <strong>Program Guide:</strong> Our program is structured and guided by<strong> Mr Aakash</strong>,
     who has designed a curriculum that facilitates learning and hands-on experience. He ensured
      that participants are well-equipped to tackle the challenges of the project.
</p>

<p>
    <strong>Project Mentor:</strong> Our project is  guided by<strong> Mr Jyant</strong>,
     who has provided us the clearity on the project and thown light on the crucial aspects of the project and the report 
</p>

<h2>Participants:</h2>

<p>
    The Food 101 Project is a collaborative effort, and we are proud to have a diverse
     group of participants who are passionate about food, technology, and machine learning.
      Our participants come from various backgrounds, bringing unique perspectives and skills
       to the project. 
</p>


{% endblock content %}
